<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Profile</title>
</head>
<body>
    <h1>Adding new User</h1>
    <form action="/users/register" method="post">
        <label for="id">Enter UserId:</label>
        <input type="text" name="id"><br><br>
        <label for="name1">Enter UserName:</label>
        <input type="text" name="name1"><br><br>
        <label for="email">Enter UserEmail:</label>
        <input type="text" name="email"><br><br>
        <label for="pass">Enter password:</label>
        <input type="password" name="pass"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>